# NGINX configuration file
apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-config
  namespace: dev
data:
  nginx.conf: |
    server {
        listen 80;
        server_name _;

        # Static files serve here
        location / {
            root /usr/share/nginx/html;
            index index.html;
            try_files $uri $uri/ /index.html;
        }

        # Backend API calls proxy from here
        location /api/ {
            proxy_pass http://backend-service:8080;
            proxy_http_version 1.1;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
    }
